.App {
  text-align: center;
}

body {
  background: #eee;
}

.App-header {
  background: linear-gradient(45deg, #ff7575, slateblue);
  height: 110px;
  padding: 20px;
  color: white;
}

.App-title {
  text-transform: uppercase;
  font-weight: 300;
  text-shadow: 1px 1px 2px #525252;
  font-size: 42px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  padding: 7px 22px;
  color: white;
  border: 0px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;

  &--primary {
    background: #329dff;

    &:hover {
      background: steelblue;
    }
  }

  &--block {
    width: 100%;
  }
}

.sign-out {
  background: linear-gradient(45deg, #7297ff, #5eb7f6, #ff00f7a1);
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  padding: 50px;
  color: rgba(255, 255, 255, 0.78);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background: linear-gradient(45deg, rgba(89, 173, 252, 0.74), #329dff) !important;

  &__title {
    padding: 10px 0;
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: 300;
  }
}

.error {
  color: #ff8080;
  padding-bottom: 18px;
}
