.App {
	text-align: center;
}

body {
	background: #eee;
}

.App-header {
	background: linear-gradient(45deg, #ff7575, slateblue);
	height: 110px;
	padding: 20px;
	color: white;
}

.App-title {
	text-transform: uppercase;
	font-weight: 300;
	text-shadow: 1px 1px 2px #525252;
	font-size: 42px;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
